{% extends 'core/base.html' %}

{% block title %}
    | Detalle Rutinas
{% endblock title %}

{% block content_title %}
    Detalle Rutinas
{% endblock content_title %}

{% block content %}

    <div class="mb-4">
        <form method="get" action="{% url 'core:detallerutina_list' %}">
            <input type="text" name="consulta" placeholder="Buscar Plan de GymBro" value="{{ request.GET.consulta }}">
        </form>
    </div>

    {% for detallerutina in object_list %}
    <ul>
        <li>
            {{detallerutina.rutina}}
            {{detallerutina.ejercicio}}
            {{detallerutina.repeticiones}}
            {{detallerutina.series}}
            <a href="{% url 'core:detallerutina_update' detallerutina.id %}">Editar</a>
            <a href="{% url 'core:detallerutina_delete' detallerutina.id %}">Eliminar</a>
        </li>
    </ul>
    {% empty %}
        <p>No se encontraron Planes de GymBros</p>

    {% endfor %}

    <a href="{% url 'core:detallerutina_form' %}" class="btn btn-secondary">Cargar Plan de GymBro</a>
    <a href="{% url 'core:gym_admin' %}" class="btn btn-secondary">Atras</a>

{% endblock content %}