{% extends 'core/base.html' %}

{% block title %}
    | Detalle Rutinas
{% endblock title %}

{% block content_title %}
    Detalle Rutinas
{% endblock content_title %}

{% block content %}

    {% for detallerutina in DetalleRutinas %}
        <ul>
            <li>
                {{detallerutina.rutina}}
                {{detallerutina.ejercicio}}
                {{detallerutina.repeticiones}}
                {{detallerutina.series}}
            </li>
        </ul>
    {% endfor %}
    <button><a href="{% url 'core:detallerutina_form' %}">Cargar Plan de GymBro</a></button>
    <button><a href="{% url 'core:gym_admin' %}">Atras</a></button>

{% endblock content %}