{% extends 'core/base.html' %}

{% block title %}
    | Lista de Entrenamientos
{% endblock title %}

{% block content_title %}
    Lista de Entrenamientos
{% endblock content_title %}

{% block content %}
    
    <div class="mb-4">
        <form method="get" action="{% url 'core:entrenamiento_list' %}">
            <input type="text" name="consulta" placeholder="Buscar entrenamiento" value="{{ request.GET.consulta }}">
        </form>
    </div>

    {% for entrenamiento in object_list %}
    <ul>
        <li>
            {{entrenamiento.entrenamiento}}
            <a href="{% url 'core:entrenamiento_update' entrenamiento.id %}">Editar</a>
            <a href="{% url 'core:entrenamiento_delete' entrenamiento.id %}">Eliminar</a>
        </li>
    </ul>
    {% empty %}
        <p>No se encontraron Entrenamientos</p>

    {% endfor %}

    <a href="{% url 'core:entrenamiento_form' %}" class="btn btn-secondary">Cargar Entrenamientos</a>
    <a href="{% url 'core:gym_admin' %}" class="btn btn-secondary">Atras</a>

{% endblock content %}