{% extends 'core/base.html' %}

{% block title %}
    | Listado de GymBros
{% endblock title %}

{% block content_title %}
    Listado de GymBros
{% endblock content_title %}

{% block content %}
    
    {% for gymbro in Gymbros %}
        <ul>
            <li>
                {{gymbro.nombre}}
                {{gymbro.tel}}
                {{gymbro.email}}
            </li>
        </ul>
    {% endfor %}

    <a href="{% url 'core:gym_admin' %}" class="btn btn-secondary">Atras</a>
    
{% endblock content %}