{% extends 'core/base.html' %}

{% block title %}
    | Carga de Rutinas
{% endblock title %}

{% block content_title %}
    Carga de Rutinas
{% endblock content_title %}

{% block content %}

    {% if nombre %}
        <h2>Rutinas para {{nombre}}</h2>
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar Rutina</button>
    </form>
    

    <a href="{% url 'core:detallerutina_form' %}?nombre={{nombre}}" class="btn btn-secondary">Detalle Plan de Rutinas</a>
    <a href="{% url 'core:gym_admin' %}" class="btn btn-secondary">Atras</a>


{% endblock content %}
