{% extends 'core/base.html' %}

{% block title %}
    | Listado de Rutinas
{% endblock title %}

{% block content_title %}
    Listado de Rutinas
{% endblock content_title %}

{% block content %}

    <button><a href="{% url 'core:rutina_form' %}">Cargar Rutinas</a></button>
    <button><a href="{% url 'core:gym_admin' %}">Atras</a></button>


    {% for rutina in Rutinas %}
    <ul>
        <li>
            {{rutina.cliente}}
            {{rutina.fecha}}
            {{rutina.dia_semana}}
        </li>
    </ul>
    {% endfor %}

{% endblock content %}